body{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
h1{
  text-align: center;
}
.kartu-provil{
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center; 
}
.kartu-provil img{
  width: 150px;
  border-radius: 20%;
}
